main .section.offer-container{
  padding: 32px;
}
main .offer > div{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
@font-face{font-family:'gert bold';src:url(/fonts/GerTT-Bold.woff) format("woff");font-weight:700}
main .offer > div > h1{
  text-align: center;
  font-family: 'gert bold',sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
}

main .offer > div > h2 , main .offer > div > p{
  text-align: center;
  font-family: 'open sans','-apple-system','BlinkMacSystemFont','segoe ui','Roboto','helvetica neue','Arial','sans-serif','apple color emoji','segoe ui emoji','segoe ui symbol';
  font-size: .875rem;
  font-weight: 400;
  margin: 0;
  padding: 4px;
}

main .offer > div > h2{
  height: 17px;
}

main .offer > div > p{
  height: 14px;
  background-color: transparent;
}

main .offer > div > p > a{
  text-decoration: underline;
  color: #000;
}

